body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
.row{
    height: 100vh;
    position: relative;
    z-index: 2;
}
.player1{
    background-color: blue;
}
.player2{
    background-color: red;
    
}
.img-area{
    height: 200px;
    width: 300px;
    position: relative;
    z-index: 3;
    margin: auto;
    top: -60vh;
    text-align: center;
}
.img-area img{
    height: 200px;
    width: 300px;
}
