body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
.row{
    height: 100vh;
    position: relative;
    z-index: 2;
}
.player1{
    background-color: blue;

}
.player2{
    background-color: red;
    
}
.img-area{
    height: 200px;
    width: 300px;
    text-align: center;
    top: 200px;
    margin: auto;
    margin-top: 250px;
}
.img-area img{
    height: 200px;
    width: 300px;
}

#showOrHide{
    display: block;
}
#alertbox{
    display: none;
}
